<a href="<%= gui_id %>/edit">
  <button class="button-secondary pure-button">
    <i class="fa fa-pencil"></i> editar
  </button>
</a>
<button class="button-error pure-button" onclick="destroyEntity()">
  <i class="fa fa-times"></i> borrar
</button>


<% if (model == 'tag') { %>
  <a href="/law/create?tag_id=<%= db_id %>">
    <button class="pure-button">
      <i class="fa fa-plus"></i> ley
    </button>
  </a>
<% } else if (model == 'law') { %>
  <a href="/article/create?law_id=<%= db_id %>">
    <button class="pure-button">
      <i class="fa fa-plus"></i> artículo
    </button>
  </a>
<% } %>

<form id="destroy-form" action="/<%= model %>/destroy" method="POST">
  <input type="hidden" name="id" value="<%= db_id %>" />
  <input type="hidden" name="origin" value="<%= origin %>" />
</form>

<script>
  function destroyEntity() {
      var msg = '';
    <% if (model == 'tag') { %>
      msg += '¿Seguro que deseas borrar esta tag/reforma? ';
      msg += 'Toda ley dentro de esta tag/reforma también será eliminada, ';
      msg += 'así como todos los artículos dentro de esas leyes. ';
    <% } else if (model == 'law') { %>
      msg += '¿Seguro que deseas borrar esta ley? ';
      msg += 'Todo artículo dentro de esta ley también será eliminado.';
    <% } else if (model == 'article') { %>
      msg += '¿Seguro que deseas borrar este artículo? ';
    <% } %>
    if (confirm(msg)) {
      document.getElementById('destroy-form').submit();
    }
  }
</script>
