<div class="law">
  <h1><%= law.name %></h1>
  <p>
    <%= law.summary %>
  </p>
  <h2>Artículos más discutidos</h2>
  <ul class="list-boxes">
    <% _.each( law.articles, function(article) { %>
      <li>
        <div>
          <h3>Artículo <%= article.number %></h3>
          <hr />
          <%-: article.body | truncate:100 | append:'...'%>
          <% if (article.annotations.length == 1) { %>
            <p><b><%= article.annotations.length %> comentario</b></p>
          <% } else {%>
            <p><b><%= article.annotations.length %> comentarios</b></p>
          <% } %>
          <a href="/ley/article/<%= article.id %>" class="btn btn-purple btn-lg">Ver más</a>
        </div>
      </li>
    <% }) %>
  </ul>
</div>
<!-- HACK: Use this div everytime we want our script to know which
     articles to retrieve for the search function -->
<div id="retrieveLawData" class="hidden" data-law="<%= law.id %>" data-lawname="<%= law.name %>"></div>
