<% tagged = typeof tag !== 'undefined' %>

<div class="law">
  <header class='header l-box'>
    <h1 class="l-no-margin-b header-title">
      <% if (tagged) { %>
        <u><a href="/reforma/<%= law.tag.slug %>"><%= law.tag.name %></a></u>
        <i class="inactive-font fa fa-angle-double-right"></i>
      <% } %>
      <span class="inactive-font"><%= law.name %></span>
    </h1>
    <% if (req.session.user && req.session.user.role == 'admin') { %>
      <% var origin = tagged ? ('/reforma/' + law.tag.slug) : ('/') %>
      <%-
        partial('../modules/_admin_buttons',{
          gui_id : law.slug,
          db_id  : law.id,
          origin : origin,
          model  : 'law'
        })
      %>
    <% } %>
    <h2 class='header-subtitle'><%= law.summary %></h2>
  </header>

  <form action="/ley/article/search" method="POST" class="pure-form pure-g l-box" role="form">
    <div class='pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 center-block input-group'>
      <% if (typeof searchTerm === 'undefined') { %>
      <input type="text" name="text" id="filter" class="pure-input-1 input-w-icon" placeholder="Buscar artículo en esta ley" />
      <% } else { %>
      <input type="text" name="text" id="filter" class="pure-input-1 input-w-icon" placeholder="Buscar artículo en esta ley" value="<%= searchTerm %>" />
      <% } %>
      <i class='fa fa-search'></i>
      <input type="hidden" name="law" value="<%= law.id %>" />
    </div>
  </form>

  <h3 class='l-box l-no-margin'>Artículos dentro de esta ley:</h3>

  <% if (articles.length == 0) { %>
    <h3 class='l-box l-no-margin'>No se encontraron artículos bajo este criterio</h3>
  <% } else { %>
    <ul class="pure-g empty-ul card-listing">
      <% _.each(articles, function(article) { %>
        <li class='pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 text-center card card-on-light card-w-meta l-box'>
          <article class='l-box'>
            <%
              data = {
                law_slug: law.slug,
                article: article
              }
              if (tagged) {
                data.tag_slug = law.tag.slug;
              }
            %>
            <%- partial('../modules/_article_card', data) %>
          </article>
        </li>
      <% })%>
    </ul>
  <% } %>
</div>
