<h2 class="col-md-offset-2">Actualizar Tag</h2>
<form method="POST" action="/ley/tag/<%= tag.id %>/edit" class="col-md-4 col-md-offset-2" role="form">
  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" class="form-control" id="name" name="name" value="<%= tag.name %>" placeholder="Nombre de la Reforma" />
  </div>
  <div class="form-group">
    <label for="name">Resumen</label>
    <input type="text" class="form-control" id="name" name="name" value="<%= tag.summary %>" placeholder="Resumen" />
  </div>
  <div class="form-group">
    <label for="slug">Slug</label>
    <input type="text" class="form-control" id="slug" name="slug" value="<%= tag.slug %>" placeholder="nombre-de-reforma" />
    <br />
    <small>SLUG: Debe de contener un nombre único y URL-friendly; de preferencia sin la palabra "Reforma".</small>
  </div>
  <input type="hidden" id="id" name="id" value="<%= tag.id %>" />
  <button type="submit" class="btn btn-primary">Actualizar</button>
</form>
