<div>
  <ul class="nav-law pull-right">
    <li><a href="/ley/law/<%= article.law.id %>"><%= article.law.name %></a></li>
    <li class="divider"></li>
    <li><a href="/ley/law">Más Leyes</a></li>
  </ul>
</div>
<div class="clearfix"></div>
<div class="article">
  <h1 class="article-title">Art&iacute;culo <%= article.number %></h1>
  <p class="article-body"><%- article.body %></p>
</div>
<div id="retrieveLawData" class="hidden" data-law="<%= article.law.id %>" data-lawname="<%= article.law.name %>"></div>

<% // Since JS files cannot read server-side variables, use these DIVs as info containers to verify some user data for GUI-related stuff. %>
<div id="sessionUserTwitterName" class="hidden"><%= req.session.user ? req.session.user.twitterName : ''  %></div>
<div id="sessionUserTwitterScreenName" class="hidden"><%= req.session.user ? req.session.user.twitterScreenName : '' %></div>
<div id="sessionUserId" class="hidden"><%= req.session.user ? req.session.user.id : '' %></div>
