<div class="l-box article l-spacer-b">
  <h1 class="article-title l-no-margin-b header-title">
    <a href="/reforma/<%= law.tag.slug %>"><%= law.tag.name %></a>
    <i class="inactive-font fa fa-angle-double-right"></i>
    <a href="/reforma/<%= law.tag.slug %>/ley/<%= law.slug %>"><%= law.name %></a>
    <i class="inactive-font fa fa-angle-double-right"></i>
    <span class="inactive-font">Artículo <%= article.number %></span>
  </h1>
  <% if (req.session.user && req.session.user.role == 'admin') { %>
    <%-
      partial('../modules/_admin_buttons',{
        gui_id : article.number,
        db_id  : article.id,
        origin : '/reforma/' + law.tag.slug + '/ley/' + law.slug,
        model  : 'article'
      })
    %>
  <% } %>
  <p class='article-body'>
    <%- article.body %>
  </p>
</div>

<div hidden="hidden">
  <div id="retrieveLawData" data-law="<%= article.law.id %>" data-lawname="<%= article.law.name %>"></div>
  <% // Since JS files cannot read server-side variables, use these DIVs as info containers to verify some user data for GUI-related stuff. %>
  <div id="sessionUserTwitterName"><%= req.session.user ? req.session.user.twitterName : ''  %></div>
  <div id="sessionUserTwitterScreenName"><%= req.session.user ? req.session.user.twitterScreenName : '' %></div>
  <div id="sessionUserId"><%= req.session.user ? req.session.user.id : '' %></div>
  <div id="articleId"><%= article.id %></div>
  <div><img src="/images/loader.gif" width="12" height="12" alt="Loader"/></div>
</div>
