<script type="text/javascript">
function updateNewNotificationsMsg(n) {
  var div = document.getElementById('new-notifications-msg');
  var words = n == 1 ? ['notificación', 'nueva'] : ['notificaciones', 'nuevas'];
  var link = '<a href="">Actualizar vista</a>.';
  div.innerHTML = n + ' ' + words[0] + ' ' + words[1] + '. ' + link;
}
</script>

<script type="text/javascript">
// This is here to remove workload from the server.
// Let the user's browser do the lookups.

var articles = <%- JSON.stringify(articles) %>;
var laws = <%- JSON.stringify(laws) %>;
var tags = <%- JSON.stringify(tags) %>;

article_dict = {};
law_dict = {};
tag_dict = {};

for (i in articles) {
  article_dict[articles[i].id] = articles[i];
}

for (i in laws) {
  law_dict[laws[i].id] = laws[i];
}

for (i in tags) {
  tag_dict[tags[i].id] = tags[i];
}

function lookupArticleData(article_id) {
  var article = article_dict[article_id];
  var law = law_dict[article.law];
  var tag = tag_dict[law.tag];
  var tag_url = '/reforma/' + tag.slug;
  var law_url = tag_url + '/ley/' + law.slug;
  var article_url = law_url + '/articulo/' + article.number;

  var data = '<u><a href="' + tag_url + '" target="_blank">' + tag.name + '</a></u> <i class="fa fa-angle-double-right"></i> ' + 
             '<u><a href="' + law_url + '" target="_blank">' + law.name + '</a></u> <i class="fa fa-angle-double-right"></i> ' + 
             '<u><a href="' + article_url + '" target="_blank">Artículo ' + article.number + '</a></u>';

  return data;
}
</script>

<header class=" header l-box text-center">
    <h1 class="l-no-margin-b header-title">
      <span>Tus notificaciones</span>
    </h1>
    <h2 class="header-subtitle">
      Aqui puedes ver los votos y las respuestas que tus comentarios han recibido
    </h2>
</header>

<div id="new-notifications-msg" class="text-center"></div>

<% if (typeof notifications === 'undefined' || notifications.length == 0) { %>
  <div class='pure-u-1 pure-u-md-1-1 text-center card card-on-light l-box'>
    No hay notificaciones que mostrar
  </div>
<% } else { %>
  <div class="notification-container">
    <ul class="empty-ul card-listing">
      <% _.each(notifications, function(notification) { %>
        <li class="notification pure-u-md-1-2 text-center <% if (!notification.seen) { %> unseen-notification <% } %>">
          <%- partial('../modules/_notification_card', { notification: notification }) %>
        </li>
      <% })%>
    </ul>
  </div>
<% } %>

<% if ((page == 1 && more_pages) || (page > 1)) { %>
  <div class='text-center l-container'>

    <% if (page > 1) { %>
      <a href="/notificaciones/<%= parseInt(page, 10) - 1 %>">
        <button class="pure-button">
          <i class="fa fa-angle-left"></i>
        </button>
      </a>
    <% } else { %>
      <button class="pure-button hidden">
        <i class="fa fa-angle-left"></i>
      </button>
    <% } %>

    <button class="pure-button">
      <%= page %>
    </button>

    <% if (more_pages) { %>
      <a href="/notificaciones/<%= parseInt(page, 10) + 1 %>">
        <button class="pure-button <% if (has_unseen) { %> button-unseen-notifications <% } %>">
          <i class="fa fa-angle-right"></i>
        </button>
      </a>
    <% } else { %>
      <button class="pure-button hidden">
        <i class="fa fa-angle-right"></i>
      </button>
    <% } %>

  </div>
<% } %>

